<div class="panel panel-default">
	<div class="panel-body">
		<h4>Contact us: <%= link_to 'Instagram', 'https://www.instagram.com/fahruryrdd27', class: "btn btn-link", target: "_blank" %></h4>
	</div>
</div>