<% provide(:title, "Edit Menu") %>

<h1>Editing Menu</h1>

<%= render 'form', menu: @menu %>
<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel">
				<div class="panel-footer">
					<%= link_to 'Back to my menu', menu_saya_path, class: 'btn btn-link' %>
					<%= link_to 'Show', @menu, class: 'btn btn-link' %>					
				</div>
			</div>
		</div>
	</div>
