
<h1>Menu di Ngant.in</h1>

<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <% @menus.each do |menu| %>
          <div class="col-sm-4">
            <div class="thumbnail">
              <%= link_to (image_tag menu.image.variant(resize_to_fit: [800, 600]), class: 'image'), menu %>
            </div>
            <div class="caption">
              <p class="caption"><%= menu.warung.nama %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>