<h1>Tambahkan menu baru</h1>

<div class="row">
		<%= render 'form', menu: @menu %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel">
				<div class="panel-footer"><%= link_to 'Back to my menu', menu_saya_path, class: 'btn btn-default' %></div>
			</div>
		</div>
	</div>
</div>
