 @import "bootstrap-sprockets";
 @import "bootstrap";
 $light-gray: #777;

 // universal

 body {
 	padding-top: 60px;
 	background-color: #f2e76d;
 	margin-bottom: 30px;
 }

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/*typography*/

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $light-gray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	text-align: left;
}

.image {
	margin-bottom: 30px;
}

td .image {
	// border: 5px solid #9ae3e6;
}

table {
	padding-top: 30px;
	margin-top: 30px;
	td {
		background-color: #faeecd;
		text-align: center;
		border: 1px solid white;
	}
}

.table-responsive{
	background-color: #faeecd;
}

// footer

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #f2e76d;
	color: $light-gray;
	a {
		color: #555;
		&:hover{
			color: #222;
		}
	}

	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

#image {
	margin-top: 20px;
}

#menu {
	padding-left: 20px;
	font-size: 0.8em;
}